*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root{
    --primary-color: #4955f8df;
    --black-color:#1e1d1d;
    --white-color:#ffffff;
}

#comment-container{
    margin: 20px;
    
}

.comment-card{
    padding: 1rem;
    border: 1px solid var(--black-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 8px #ddd;
}

.add-reply{
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    margin: 15px 0px;
}

.comment-form{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.comment-form textarea{
    padding: 15px;
    border:1px solid var(--black-color);
    border-radius: 8px;
}

.comment-form button{
    border: 1px solid var(--black-color);
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    width: 100px;
    height: 50px;
} 